body {
    font-family: 微软雅黑;
}

a {
    color: #333;
    font-size: 12px;
}

header {
    width: 100%;
    height: 25px;
    background: #f6f6f6;
    border: 1px solid #ececec;
    line-height: 25px;
    font-size: 12px;
    padding: 0 75px;
    color: #888;
}

.header-left {
    float: left;
}

.header-left .txt1, .header-left .txt2 {
    border-right: 1px solid #ececec;
    padding: 0 10px;
    text-align: left;
    float: left;
}

.header-left .txt1 a:hover, .header-left .txt2 a:hover {
    color: #25b2fe;
}

.header-right {
    float: right;
}

.header-ul {
    height: 25px;
}

.header-ul > li {
    color: #888;
    padding-left: 25px;
    cursor: pointer;
    float: left;
    height: 25px;
    position: relative;
}

.header-ul > li:nth-child(1) {
    padding-left: 25px;
    color: #e40077;
}

.header-ul > li:nth-child(3), .header-ul > li:nth-child(4), .header-ul > li:nth-child(5) {
    padding: 0 3px;
}

.li-login {
    background-image: url("../img/t3-1 (1).png");
    background-position: 10px center;
    background-repeat: no-repeat;
}

.li-yyt {
    background: url("../img/t1-1.png") 10px center no-repeat;
}

.li-yyt img {
    margin-bottom: -2px;
}

.header-ul > li p {
    display: inline-block;
}

.header-ul > li span {
    padding-left: 2px;
    font-size: 10px;
    color: #ddd;
}

.header-ul > li:hover {
    color: #25b2fe;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.176);
}

.header-ul > li:nth-child(1):hover {
    color: #25b2fe;
    background-color: #fff;
    background-image: url('../img/t3-2.png');
    background-repeat: no-repeat;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.176);
}

.header-seclist {
    /*width: 170px;*/
    /*height: 120px;*/
    z-index: 1500;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    color: #25b2fe;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 18px 0 12px 30px;
    display: none;
}

.header-seclist .dl {
    border: 1px solid #e4e4e4;
    background: #fff;
    color: #25b2fe;
    width: 140px;
    height: 35px;
    line-height: 35px;
    margin: 5px 15px;
    padding: 0 5px;
    text-align: center;
}

.header-seclist .dl:hover {
    background: #25b2fe;
    color: #fff;
}

/*搜索*/
.sousuo {
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding: 15px 50px 15px 0;
}

.sousuo-left {
    width: 50%;
    height: 100%;
    float: left;
}

.sousuo-left a {
    display: inline-block;
    width: 230px;
    height: 42px;
    float: left;
}

.sousuo-left .diqu {
    float: left;
    margin: 20px 0 0 20px;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    padding: 0 15px 0 0;
    background: transparent url('../img/x.gif') no-repeat right 9px;
    position: relative;
}

.diqu ul {
    width: 540px;
    height: 86px;
    padding: 10px 20px;
    font-size: 14px;
    background: #fff;
    z-index: 999;
    float: left;
    position: absolute;
    left: 0;
    top: 18px;
    display: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.diqu ul li {
    text-align: left;
    font-size: 12px;
    padding: 7px 0;

}

.diqu ul li span {
    float: left;
}

.diqu ul .diquxx span a {
    color: rgb(51, 51, 51);
}

.diqu ul li .blue {
    float: left;
    clear: none;
    color: #0085D0;
    font-weight: bold;
    padding: 3px 20px;
}

.diqu ul .diquxx {
    float: left;
    width: 100%;
    margin-top: -15px;
}

.diqu ul .diquxx span {
    width: 9%;
}

.sousuo-right {
    width: 50%;
    height: 100%;
    float: right;
}

.sousuo-rigth-top {
    position: relative;
    border: 2px solid #dfdfdf;
}

.input-sousuo1 {
    display: inline-block;
    height: 32px;
    color: #999;
    border: 0;
    width: 100%;
    padding: 3px 12px;
    font-size: 14px;
    font-family: 微软雅黑;
}

.input-sousuo2 {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 85px;
    height: 36px;
    padding: 6px 12px;
    background: #25b2fe url(../img/search.png) no-repeat 9px center;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-family: 微软雅黑;
    text-align: center;
}

.sousuo-right-bot {
    width: 100%;
    height: 26px;
    padding-top: 5px;
}

.sousuo-right-bot li {
    float: left;
    padding: 0 20px 0 0;
    font-size: 12px;
    font-family: 微软雅黑;
}

.sousuo-right-bot li:nth-child(1) a, .sousuo-right-bot li:nth-child(3) a, .sousuo-right-bot li:nth-child(5) a {
    color: #e40077;
}

.sousuo-right-bot li a:hover {
    color: #25b2fe;
    border-bottom: 1px solid #25b2fe;
}

/*导航*/
nav {
    width: 1200px;
    height: 40px;
    background: #e4e4e4;
    margin: 0 auto;
}

nav .nav-list {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
}

nav .nav-list > li {
    width: 260px;
    height: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #fff;
}

nav .nav-list > li > a {
    font-size: 16px;
    color: #666;
}

nav .nav-list > li:hover {
    background: #f3f3f3;
}

nav .nav-list > li:hover > a {
    color: #0085d0;
}

nav .nav-list > li:first-child {
    width: 160px;
    color: #0085d0;
    border-top: 2px solid #0085d0;
}

nav .nav-list > li:first-child a {
    color: #0085d0;
    font-size: 16px;
    font-weight: bold;
}

nav .nav-list > li:nth-child(5) {
    border-right: 0;
}

nav .nav-list > li:nth-child(3) ins {
    left: 46%;
    bottom: 0;
}

nav .nav-list > li:nth-child(4) ins {
    left: 67%;
    bottom: 0;
}

nav .nav-list > li:nth-child(5) ins {
    left: 89%;
    bottom: 0;
}

.nav-list > li > a ins {
    left: 24%;
    bottom: 0;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    display: none;
}

.nav-seclist {
    width: 1200px;
    height: 40px;
    background: #fff;
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 40px;
    display: none;
}

.nav-seclist.nav-seclist2 {
    position: absolute;
    left: 20px;
    top: 40px;
}

.nav-seclist li {
    float: left;
    width: 14%;
    height: 40px;
}

.nav-seclist li a {
    font-size: 14px;
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

.nav-seclist li a:hover {
    color: #0085d0;
}

/*banner开始*/
.banner {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.banner-left {
    /*float: left;*/
    display: inline-block;
    width: 160px;
    height: 350px;
    padding: 8px 10px 10px 10px;
    border: 1px solid #b8d9e9;
    margin: 5px 10px 0 0;
    background: #fff;
}

.banner-left ul {
    width: 138px;
    height: 100%;
}

.banner-left ul li {
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-top: 1px solid #e9e9e9;
    text-align: center;
}

.banner-left ul li img {
    float: left;
    padding: 15px 10px 0 25px;
}

.banner-left ul li a {
    float: left;
    font-size: 15px;
    color: #333;
}

.banner-left ul li:first-child {
    border: 0;
    height: 24px;
    /*padding: 0 0 3px 0;*/
    line-height: 24px;
    text-align: center;
}

.banner-left ul li:first-child a {
    text-align: center;
    color: #333;
    font-size: 12px;
    padding: 0 32px;
}

.banner-middle {
    display: inline-block;
    width: 740px;
    height: 350px;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}

.banner-container {
    width: 740px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    /*overflow: hidden;*/
}

.banner-container li {
    position: absolute;
    left: 0;
    top: 0;
}

.banner-container li:nth-child(1) {
    z-index: 3;
}

@keyframes leftOut {
    0% {
        left: 0;
    }
    100% {
        left: -740px;
    }
}

.leftOut {
    animation: leftOut 1s ease-in;
}

@keyframes leftIn {
    0% {
        left: 740px;
    }
    100% {
        left: 0;
    }
}

.leftIn {
    animation: leftIn 1s ease-in;
}

@keyframes rightOut {
    0% {
        left: 0;
    }
    100% {
        left: 740px;
    }
}

.rightOut {
    animation: rightOut 1s ease-in;
}

@keyframes rightIn {
    0% {
        left: -740px;
    }
    100% {
        left: 0;
    }
}

.rightIn {
    animation: rightIn 1s ease-in;
}

.banner-middle .dian {
    width: 147px;
    height: 21px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;
    z-index: 999;
}

.banner-middle .dian li {
    width: 15px;
    height: 15px;
    background: #ccc;
    opacity: 0.85;
    float: left;
    margin: 3px;
    border-radius: 50%;
}

.banner-middle .dian .active {
    background: #E40077;
}

.prev, .next {
    cursor: pointer;
    display: block;
    height: 70px;
    opacity: 0.3;
    width: 30px;
    z-index: 999;
}

.prev {
    background: url('../img/lbnextpre.png') no-repeat;
    position: absolute;
    left: 0;
    top: 140px;
}

.next {
    background: url('../img/lbnextpre.png') no-repeat right 0;
    position: absolute;
    right: 0;
    top: 140px;
}

.prev:hover, .next:hover {
    opacity: 0.6;
}

.banner-right {
    width: 278px;
    height: 350px;
    float: right;
    margin: 5px 0 0 0;
    border: 1px solid #dfdfdf;
}

.br-top {
    width: 100%;
    /*height: 171px;*/
    padding-top: 5px;
    display: inline-block;
}

.br-top ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.br-top ul li {
    width: 33%;
    height: 78px;
    float: left;
    position: relative;
}

.br-top ul li a {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 0;
    padding: 55px 0 0;
    color: #4e4e4e;
    font-size: 12px;
    text-align: center;
}

.br-top ul li:first-child a {
    background: url("../img/20160323161008732O2n.gif") no-repeat center 15px;
    background-size: 70%;
}

.br-top ul li:nth-child(2) a {
    background: url("../img/20160323161051270xTE.gif") no-repeat center 15px;
    background-size: 70%;

}

.br-top ul li:nth-child(3) a {
    background: url("../img/20160927112035566Pxd.png") no-repeat center 15px;
    margin-left: -35px;
    background-size: 50%;
}

.br-top ul li:nth-child(3) a:hover {
    background-size: 60%;

}

.br-top ul li:nth-child(4) a {
    background: url("../img/20160323161119374xjY.gif") no-repeat center 15px;
    background-size: 70%;

}

.br-top ul li:nth-child(5) a {
    background: url("../img/20160323161129527sVd.gif") no-repeat center 15px;
    background-size: 70%;

}

.br-top ul li:nth-child(6) a {
    background: url("../img/20160630153145554tc4.gif") no-repeat center 15px;
    background-size: 70%;

}

.br-top ul li a:hover {
    background-size: 80%;
}

.qiang {
    position: absolute;
    width: 21px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    font-family: 宋体;
    right: 18px;
    top: 5px;
    border-radius: 50%;
    background: rgb(228, 0, 119);
    font-size: 12px;
}

.br-bottom {
    width: 100%;
    height: 182px;
    background: #fff;
    padding: 20px 10px 10px 10px;
}

.czjf {
    width: 98%;
    height: 20px;
    padding: 0 15px;
    font: bold 14px/20px 微软雅黑;
}

.czjf a {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: bold;
}

.czjf span {
    color: #ff0000;
    font-size: 12px;
    float: right;
}

.input-kuang {
    width: 235px;
    height: 36px;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 8px 0 0 12px;
}

.input-kuang input {
    width: 220px;
    line-height: 28px;
    border: 0;
    outline: none;
    color: #ccc;
    font-family: 微软雅黑;
    font-size: 12px;
}

.yuan {
    width: 259px;
    height: 56px;
    padding: 10px 0 5px;
    text-align: center;
    margin-left: 10px;
}

.yuan li {
    width: 44px;
    height: 36px;
    float: left;
    border: 1px solid #dadada;
    border-radius: 3px;
    margin: 0 2px;
    line-height: 36px;
}

.yuan li a {
    color: #666;
    text-align: center;
    font-size: 12px;
}

.yuan li:nth-child(2) {
    background: #e40077;
    border: 1px solid #e40077;
}

.yuan li:nth-child(2) a {
    color: #fff;
}

.yuan li:hover {
    background: #e40077;
    border: 1px solid #e40077;
}

.yuan li:hover a {
    color: #fff;
}

.ljcz {
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    float: left;
    border-radius: 3px;
    margin-left: 85px;
}

.ljcz input {
    width: 100%;
    height: 100%;
    border: 0;
    background: #33acfb;
    color: #fff;
    border-radius: 3px;
}

main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.yhcx {
    width: 100%;
    height: 180px;
    padding: 10px 15px;
    margin: 10px 0;
    background: #dfdfdf;
    position: relative;
}

.yh-container {
    width: 1170PX;
    height: 160px;
    overflow: hidden;
}

.yh-container ul {
    width: 4720px;
    height: 160px;
    transition: all 2s;
    margin-left: -1180px;
}

.yh-container ul li {
    width: 285px;
    height: 100%;
    background: #fff;
    float: left;
    cursor: pointer;
    margin-right: 10px;
}

.yh-container ul li h1 {
    color: rgb(51, 51, 51);
    font: bold 18px/25px 微软雅黑;
    padding: 6px 0px 0px 20px;
    margin: 0px;
}

.yh-container ul li h2 {
    color: rgb(102, 102, 102);
    font: 14px/20px 微软雅黑;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.yh-img {
    float: right;
}

.yhzj {
    position: absolute;
    left: 0;
    top: 70px;
    height: 35px;
    width: 28px;
    background: url('../img/lbnextpre.gif') no-repeat left top;
    cursor: pointer;
    /*filter: alpha(opacity=80);*/
    opacity: 0.8;
}

.yhyj {
    position: absolute;
    right: 0;
    top: 70px;
    height: 35px;
    width: 28px;
    background: url('../img/lbnextpre.gif') no-repeat right top;
    cursor: pointer;
    /*filter: alpha(opacity=80);*/
    opacity: 0.8;
}

/*4G专区*/
.zhuanqu {
    width: 100%;
    height: 427px;
    border: 1px solid #dfdfdf;
    background: #fff;
    margin-bottom: 10px;
}

.zqtit {
    /*float: left;*/
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 25px;
    width: 100%;
}

.zqtit .zq {
    display: inline-block;
    color: #0085d0;
    font-size: 15px;
    font-weight: bold;
}

.zqtit .ckgd {
    float: right;
}

.zq-main {
    width: 100%;
    height: 377px;
}

.zq-main-left {
    height: 377px;
    float: left;
}

.zq-main-right {
    float: right;
    width: 900px;
    height: 377px;
}

.zq-main-right li {
    width: 33.33333%;
    height: 50%;
    border-left: 1px solid #dfdfdf;
    float: left;
}

.zq-main-right li:nth-child(6) {
}

.zq-main-right li:nth-child(1), .zq-main-right li:nth-child(2), .zq-main-right li:nth-child(3) {
    border-bottom: 1px solid #dfdfdf;
}

.zq-main-right li h2 {
    color: rgb(102, 102, 102);
    font: 14px/20px 微软雅黑;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.zq-img {
    float: right;
}

.zq-img:hover, .msj-img img:hover {
    transform: translateX(-10px);
    transition: all 0.5s;
}

.zq-main-right li h1 {
    color: rgb(51, 51, 51);
    font-size: 19px;
    font-weight: normal;
    padding: 6px 0px 0px 20px;
    margin: 0px;
}

.zq-main-right li:nth-child(2) h1, .zq-main-right li:nth-child(4) h1, .zq-main-right li:nth-child(6) h1 {
    color: rgb(228, 0, 119);
}

.msj-main {
    height: 380px;
}

.msj-main ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.msj-main ul li {
    width: 25%;
    height: 99.6%;
    border-right: 1px solid #dfdfdf;
    float: left;
    cursor: pointer;
    position: relative;
}

.msj-main ul li:nth-child(4) {
    border-right: 0;
}

.msj-main ul li h2 {
    padding: 20px 0 0 20px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: normal;
}

.msj-main ul li h3 {
    padding-left: 20px;
    color: rgb(0, 133, 208);
    font-size: 14px;
    font-weight: normal;
}

.msj-main ul li .price {
    padding-left: 20px;
    width: 100%;
    height: 38px;
    font-size: 18px;
    color: #EF33A2;
    padding-top: 15px;
}

.msj-img {
    width: 100%;
    height: 282px;
}

.msj-img img {
    float: right;
}

.msj-img a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.msj-tb {
    width: 44px;
    height: 58px;
    position: absolute;
    background: url("../img/jb02.gif") center no-repeat;
    right: 30px;
    top: 18px;
}

.msj-tb a {
    width: 44px;
    height: 58px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.msj-tb.dj {
    background: url("../img/jb04.gif") center no-repeat;
}

/*公告开始*/
.gonggao {
    width: 100%;
    height: 38px;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

.gonggao span {
    background: url("../img/indexgg.gif") no-repeat 20px center;
    padding: 0 0 0 50px;
    float: left;
    color: #666;
    line-height: 38px;
}

.gonggao ul {
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.gonggao ul li {
    width: 50%;
    background: url('../img/icons2014.gif') no-repeat scroll 5px -55px;
    float: left;
    padding: 0 10px 0 20px;
}

.gonggao ul li a {
    line-height: 38px;
    color: #0085d0;
    width: 70%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.gonggao ul li span {
    color: #CCC;
    float: left;
    background: none;
    padding: 0 0 0 5px;
    width: 30%;
}

.ggjt {
    cursor: pointer;
    float: right;
    padding: 0 20px 0 0;
}

.ggjt .left {
    color: #3580ba;
    text-decoration: none;
    width: 22px;
    font: bold 15px/25px "宋体";
    height: 38px;
    line-height: 38px;
    float: left;
}

.ggjt .right {
    color: #3580ba;
    text-decoration: none;
    width: 22px;
    font: bold 15px/25px "宋体";
    height: 38px;
    line-height: 38px;
    float: left;
}

/*辅助需求*/
.help {
    width: 100%;
    height: 231px;
    margin: 10px 0 0 0;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
}

.help-con1 {
    width: 20%;
    height: auto;
    float: left;
}

.help-con1 li {
    padding-bottom: 5px;
}

.help-con1 li a {
    display: inline-block;
    height: 20px;
    color: #666;
    font-size: 15px;
    line-height: 180%;
}

.help-con1 li a:hover {
    color: #337ab7;
    border-bottom: 1px solid #337ab7;
}

.help-con1 li:first-child {
    font: bold 15px/180% "微软雅黑";
    color: #666;
    margin: 0;
    height: 27px;
}

footer {
    width: 100%;
    height: 228px;
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
    color: #333;
}

footer span a {
    cursor: pointer;
}

footer a:hover {
    color: #337ab7;
    border-bottom: 1px solid #337ab7;
}

.footer-con1 {
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin: 0 auto;
}

.footer-con1 li:first-child {
    padding-left: 353px;
}

.footer-con1 li {
    float: left;
}

.footer-con2 {
    width: 100%;
    height: 33px;
    line-height: 33px;
}

.footer-con3 {
    width: 100%;
    /*height: 33px;*/
    line-height: 18px;
    padding: 4px 0 0 0;
}

.footer-con4 {
    width: 100%;
    height: 43px;
    line-height: 33px;
    padding-top: 10px;
}

.footer-con5 {
    width: 100%;
    height: 57px;
    padding-top: 10px;
    line-height: 33px;
}

.footer-con5 img {
    padding-left: 544px;
    float: left;
}

.footer-con5 p {
    display: inline-block;
    float: left;
    margin-top: 12px;
    padding-left: 25px;
    margin-left: 20px;
    line-height: 25px;
    background: url("../img/gov.gif") no-repeat;
}

/*侧边*/
.rfu {
    z-index: 900;
    width: 140px;
    height: 142px;
    position: fixed;
    right: 50%;
    margin-right: -775px;
    _position: absolute;
    bottom: 20px;
}
.kf {
    z-index: 9999;
    position: absolute;
    left: 0px;
}
.cjwt {
    cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 35px;
    width: 86px;
}
.zxzx {
    cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 65px;
    width: 86px;
}
.tsjy {
    cursor: pointer;
    height: 22px;
    left: -22px;
    position: absolute;
    top: 95px;
    width: 86px;
}
.cjwt:hover,.zxzx:hover,.tsjy:hover{
    transform: translateX(-67px);
    transition: all 1s;
}